body{
    height: 100vh;
    background-color: black;
}
img{
    display: block;
}
.container{
    max-width:1200px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-none{
    display: none;
}
#buttonLamp{
    text-transform: uppercase;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    font-weight: 800;
}
.buttonLampOn{
    background-color: black;
    color: white;
    font-weight: 800;
}
.accesoBody{
    background-color: yellow;
}